a{ 
	color:#009900;
	cursor:pointer;
	text-decoration:none;
}

a:hover{ 
	color:#00FF00;
	cursor:pointer;
	text-decoration:blink;
}
.navbar-inverse{
	background-color:#00CC99;
}
.warnax {
	background-color:#00CC99;
}
.warna a{ 
	color:#00FFCC;
	cursor:pointer;
	text-decoration:none;
	padding-left:5px;
	text-decoration:none;
}

.warna a:hover{ 
	color:#FFFFFF;
	cursor:pointer;
	text-decoration:blink;
	padding-left:5px;
	text-decoration:blink;
}
#body{
	/*background-color:#00FFCC;*/
}
.row{
	/*font-size:9px;*/
}
.container-fluid{
	/*background-color:#00FFCC;*/
}
.navbar-brand{
	/*font-size:12px;*/
}

.navbar-inverse {
	/*background-color:#00FF99;*/
}
.tabbable{
	/*background-color:#00FFCC;*/
}
.btn btn-block btn-success{
	color:#FFFFFF;
}
.navbar-brand{
	/*color:#FFFFFF;*/
	/*font-size:20px;*/
	font-family:"monotype Corsiva";
}
.navbar-header a:{
	/*color:#FF0000;*/
}

.headbar {
	color:#039370;
	border:dotted 2px #039370;
	background:#039370;
	background-color:#039370;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#009966), to(#039370));
	background: -moz-linear-gradient(top,  #009966,  #039370);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#009966', endColorstr='#039370');*/
}
.footbar {
	color:#039370;
	border: solid 1px #039370;
	background:#039370;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#009966), to(#039370));
	background: -moz-linear-gradient(top,  #009966,  #039370);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#009966', endColorstr='#039370');*/
	height:35px;
	background-color:#039370;
}
.footbarx{
	background-color:#FFFFFF;
	border-color:FFFFFF;
}
.hijau {
	color:#039370;
	border: solid 1px #039370;
	background:#039370;
	background-color:#039370;
}
#pan a{ 
	color:#000000;
	cursor:pointer;
	text-decoration:none;
	font-weight:normal;
}

#pan a:hover{ 
	color:#000000;
	cursor:pointer;
	text-decoration:blink;
	font-weight:bold;
}